h1 {
    color: red;
    font-size: 200%;
    text-transform: uppercase;
}

li {
    list-style: square;
    color: rgb(0, 17, 255);
}

body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: lightblue;

}
